body {
    background-image: linear-gradient(white, black);
}

header img {
    width: 100%; /*This stretches the image across the viewport.*/
    height: auto; /*The height will chnage based on the size of the viewport.*/
    max-width: 500px;
}

nav {
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    border-radius: 1.0em; /*This rounds the corners of elements.*/
    margin-bottom: 1em; /* This places some space between elements.*/
}

nav ul li{
    list-style-type: none;
}

main {
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    margin-bottom: 1em; /* This places some space between elements.*/
    border-radius: 1.0em; /*This rounds the corners of elements.*/
}

footer { 
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    border-radius: 1.0em; /*This rounds the corners of elements.*/
}