body {
    background-image: linear-gradient(white, black);
}

header img {
    width: 100%; /*This stretches the image across the viewport.*/
    height: auto; /*The height will chnage based on the size of the viewport.*/
    max-width: 500px;
}

nav {
    border-bottom: solid 0.3em black;
    border-radius: 1.0em; /*This rounds the corners of elements.*/
    margin-bottom: 1em; /* This places some space between elements.*/

    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav ul li{
    background-color: black;
    padding: 1em;
    min-width: 12%;
    margin: 0.25em;
    list-style-type: none; /*This removes bullet points.*/
}

nav ul li a {
    color: white;
    text-decoration: none; /*This removes the underline from the hyperlink.*/
    
}

figure {
    text-align: center;
    background-color: white;
}

figure img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

main {
    /*background-color: white;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;*/

    background-image: linear-gradient(white, black);

    margin-bottom: 1em; /* This places some space between elements.*/
    border-radius: 1.0em; /*This rounds the corners of elements.*/
}

main .row:after {
    content: "";
    display: table;
    clear: both;
}

main div .column {
    float: left;
}

main div .left {
    float: left;
    width: 20%;
    padding: 10px;
}

main div .center {
    padding: 10px;
}

main div .right {
    float: right;
    padding: 10px;
    width: 30%;
}

footer { 
    background-color: white;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    border-radius: 1.0em; /*This rounds the corners of elements.*/
}

/*Begin mobile.*/

@media screen and (max-width: 640px) {

    nav ul li {
        border-radius: 1em;

    }
    
    .tablet {
        display: none;
    }

    .desktop {
        display: none;
    }
}

/*End mobile.*/

/*Begin Tablet.*/

@media screen and (min-width: 641px) {

    nav ul li {
        display: inline-block; /*This lists items horizontally and allows them to stretch.*/
        border-radius: 1em;
    }

    .desktop {
        display: none;
    }

    main div .center {
        padding: 10px;
        width: 45%;

        border-right: 0.3em solid black;
    }
}

/*End Tablet.*/

/*Begin Desktop.*/

@media screen and (min-width: 961px) {

    
    header img {
        width: auto;
        height: 5em;
    }

    .desktop{
        display: block;
    }


    nav {
        margin-top: -5.1em; /*This moves the nav element above where it would normally be.*/
        width: 60%;
        float: right; /*This floats the nav elements to the right side of the page.*/
    }

    nav ul li {
        display: inline-block; /*This lists items horizontally and allows them to stretch.*/
        border-radius: 1em;
    }

    main div .center {
        padding: 10px;
        width: 45%;

        border-left: 0.3em solid black;
        border-right: 0.3em solid black;
    }
        
    
    
}

/*End Desktop.*/